PORT=8080
HOST_URL=http://localhost:8080/
APP_TITLE=RentAuto

# Configuración de Entorno
NODE_ENV=  # 'production' en producción y 'development' en desarrollo

# PostgreSQL Database Config - Required
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_DATABASE=

#Nubarium Config - Required
NUBARIUM_USER=
NUBARIUM_PASSWORD=

# Optional
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=